<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <!--<div class="jumbotron">-->
      <!--<h1 class="display-4">Welcome to <%= title %> page</h1>-->
     <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to YERIM's Page</h1>
        <p class="col-md-8 fs-4">Hello, there. I'm Yerim Cho, studying Software Engineering Technician course at Centennial College, Toronto,Canada</p>
        <button class="btn btn-outline-light" type="button" onclick="">Example button</button>
      </div>
    </div> 
    
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




