<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <!-- Main Content -->
  <main class="container">
    <!--<div class="jumbotron">-->
      <!--<h1 class="display-4">Welcome to <%= title %> page</h1>-->
     <div id = "mainDiv" class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to YERIM's Page</h1>
        <br>
        <br>
        <p id="paragraph1">Hello, there. <br> I'm Yerim Cho, studying Software Engineering Technician course at <br> Centennial College, Toronto,Canada<br><br></p>
        <!-- class="col-md-8 fs-4" -->
        <img src ="Assets/images/logo_black.png">
        <br>
        <br>
        <h2 id = "mission">Mission Statement</h2>
        <p id = "missionP">I'm ready to show my full ability.<br>
        You will never be disappointed. <br>
        Trust Me</p>
        <button class="btn btn-outline-dark" type="button" 
        onclick="window.location.href='/about';">About Me</button>
        
      </div>
    </div> 
    
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




