<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <!--<div class="jumbotron">-->
      <!--<h1 class="display-4">Welcome to <%= title %> page</h1>-->
     <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
      <h3 class="mb-3">Projects to Work On</h3>
        <div class="project1">
        <img src="/Assets/images/project1.png" width="300" height="200">
        <p>Creating a video-hosting website, similar with Youtube.</p>
        <p>Description</p>
        <ul>
          <li>Video Upload</li>
          <li>Search Video</li>
          <li>View Count</li>
        </ul>
        <p>Using</p>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Node.JS</li>
          <li>MongoDB</li>
          <li>ExpressJS</li>
        </ul>
        </div>
        <div class="project2">
        <p>Create a website to scrap the job postings from Indeed and StackOverflow, using Python. </p>
        <p>Description</p>
        <ul>
          <li>Stack Overflow Jobs Scrapping</li>
          <li>Indeed Jobs Scrapping</li>
          <li>Export to CSV</li>
          <li>Export to CSV</li>
        </ul>
        <p>Using</p>
        <ul>
          <li>Python</li>
          <li>Repl.it</li>
          <li>Flask</li>
        </ul>
        </div>
        <div class="projects3">
        <p>Windows Monitoring Service Engine</p>
        <p>Description</p>
        <ul>
          <li>Windows Service Project that Monitors CPU and Memory in your PC and Saves to a SQL Database</li>
          <li>UI manager to Manage the service and read the values from database and Show in charts</li>
          <li>Logger class that can be used in any application to log errors to the database.</li>
        </ul>
        <p>Using</p>
        <ul>
          <li>C#</li>
          <li>SQL</li>
        </ul>
        </div>
      
      </div>
    </div> 
    
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




