<%- include views/partials/header.ejs %>

<%- include views/partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Home page <%= title %> page</h1>
      
    </div>
  </main>
  
<%- include views/partials/bottom_nav.ejs %>  

<%- include views/partials/footer.ejs %>
  




